header {
    width: 1200px;
    height: 58px;
    border: 1px solid black;
    margin: auto;
    display: flex;

    h3 {
        margin-left: 20px;
    }
}

.box1 {
    display: flex;
    width: 400px;
    margin-left: 200px;
    justify-content: space-between;

    select {
        height: 25px;
        margin-top: 20px;
        border: none;
    }
}

.box2 {
    display: flex;
    margin-left: 310px;

    button {
        width: 100px;
        height: 58px;
        background-color: #4360F6;
        color: white;
    }
}

.box3 {
    width: 100px;
    height: 58px;
}

.box4 {
    width: 1200px;
    height: 620px;
    border: 1px solid black;
    margin: auto;
    display: flex;
}

.box5 {
    width: 380px;
    height: 580px;
    margin-left: 20px;
    /* border: 1px solid black; */

    h1 {
        font-size: 50px;
    }

    button {
        width: 100px;
        height: 35px;
        background-color: #4360F6;
        color: white;
    }

}

.box6 {
    margin-top: 30px;
    img {
        margin-top: 20px;
    }
    p {
        width: 300px;
    }
}

.box8 {
    display: flex;
}

.box9 {
    width: 230px;
    height: 580px;
    /* border: 1px solid black; */
    margin-left: 100px;
}

.rasmm {
    margin-left: 90px;
    margin-top: -20px;
}
.rasmm1{
    height: 320px;
}
.box10{
    width: 440px;
    height: 580px;
    border: 1px solid black;
    margin-left: 20px;
}
.box11{
    background-color: #C2EAFF;
    width: 410px;
    height: 540px;
    margin-top: 32px;
    background-image: url('./img/image\ 58.png');
    img{
        width: 300px;
        margin-top: 410px;
        margin-left: 200px;
    }
}
.box12{
    width: 1200px;
    height: auto;
    margin: auto;
    text-align: center;
    border: 1px solid black;
}